<h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl dark:hidden" style="color: #083597;">
    <slot/>
</h1>
<h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl dark:block hidden" style="color: #ffc436;">
    <slot/>
</h1>
