<style>
    @media only screen and (max-width: 600px) {
        .pdf-container {
            height: 700px; /* ajuste a altura conforme necessário */
        }
    }

    @media only screen and (max-width: 500px) {
        .pdf-container {
            height: 600px; /* ajuste a altura conforme necessário */
        }
    }
</style>
<section class="pdf-container" style="padding-top: 100px; display:flex; justify-content: center;">
    <iframe src="https://drive.google.com/file/d/1JZrtBKZktpNqvnOdVV5rv0zdVsEk2UxS/preview" width="880" height="720" allow="autoplay"></iframe>

</section>