---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="docs">
    <Container className="flex flex-col midmd:flex-row gap-12 lg:gap-12 ">
        
        <div class="flex-1 items-center flex md:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Documentação
            </Title>
            <Paragraph className="w-3/4">Cláudia Schlink é uma despachante especializada e altamente experiente na área de produtos controlados, dedicada a fornecer soluções abrangentes e personalizadas para atender às demandas específicas de cada cliente. Com uma reputação estabelecida de excelência e profissionalismo, ela se destaca na prestação de uma ampla gama de serviços especializados. Principalmente em:
                </Paragraph>
            <ul class="grid grid-cols-1 sm:grid-cols-2 mt-8 space-y-4 text-heading-3 font-medium">
                <li style="padding-top:18px;">
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Regularização e Renovação de CR
                    
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> 
                    Emissão de Guias de Tráfego
                    
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> 
                    Transferências e Compra de Armas
                    
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span>
                    Orientação e Assessoria Documental
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> 
                    Inventários
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> 
                 
                Entre em <span class="text-transparent bg-clip-text bg-gradient-to-br from-yellow-600 from-20% via-primary via-30% to-green-600"> 
                   <a href="https://api.whatsapp.com/send?phone=5511967977084&text=Ol%C3%A1%2C%20tudo%20bem%3F%20Entrei%20em%20contato%20atrav%C3%A9s%20do%20portal%20CEACC%2C%20quero%20saber%20mais." target="_blank" rel="noopener noreferrer"> contato </a>
                </span>
                
                </li>
            </ul>
        </div>
            
    </Container>
</section>