---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-12 lg:gap-12">
        
        <div class="flex-1 items-center flex md:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Documentação
            </Title>
            <Paragraph className="w-3/4">Cláudia Schlink é uma despachante especializada na área de produtos controlados, oferecendo uma ampla gama de serviços para atender às necessidades dos clientes. Atua principalmente em:
                </Paragraph>
            <ul class="grid grid-cols-1 sm:grid-cols-2 mt-8 space-y-4 text-heading-3 font-medium">
                <li style="padding-top:18px;">
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Regularização e Renovação de CR
                    
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Emissão de Guias de Tráfego
                    
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Transferências e Compra de Armas
                    
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Orientação e Assessoria Documental
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Inventários
                </li>
            </ul>
        </div>
            
    </Container>
    
</section>