---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Instrutores
            </Title>
            <Paragraph>Nossos instrutores são profissionais altamente qualificados, dedicados a proporcionar uma experiência de tiro segura e gratificante. Com vasta experiência e conhecimento, eles orientam os membros com precisão técnica, enfatizando a importância da segurança e do respeito pelas armas de fogo.</Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Orientação especializada
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Ênfase na segurança
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Desenvolvimento de habilidades
                </li>
                <li>
                    <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center" style="color: #FFC436">&checkmark;</span> Ambiente acolhedor
                </li>
            </ul>
        </div>

        <div class="space-y-12 relative pt-32 lg:pt-36">
            <div class="flex justify-center flex-wrap gap-2 ">
                <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group ">
                    <img src="/images/foto_home.png" width="200" height="200" alt="silvio" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125 rounded-md">
                </div>
                <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                    <img src="/images/foto_home.png" width="200" height="200" alt="carrasco" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125 rounded-md">
                </div>
                <div style="display: flex; align-items: center;" class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                    <img src="/images/foto_home.png" width="200" height="200" alt="eugenio" class=" duration-500 grayscale group-hover:!grayscale-0 group-hover:scale-125 rounded-md">
                </div>
            </div>
        </div>
            
    </Container>
    
</section>