<div class="flex flex-wrap justify-center mt-40">
    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto1.jpg">
            <img
                src="/images/Foto1.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto2.jpg">
            <img
                src="/images/Foto2.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto3.jpg">
            <img
                src="/images/Foto3.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto4.jpg">
            <img
                src="/images/Foto4.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto5.jpg">
            <img
                src="/images/Foto5.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto6.jpg">
            <img
                src="/images/Foto6.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto7.jpg">
            <img
                src="/images/Foto7.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>

    <div class="gallery m-4 border border-gray-300 hover:border-gray-500">
        <a target="_blank" href="/images/Foto8.jpg">
            <img
                src="/images/Foto8.jpg"
                alt="Imagem-arma"
                class="w-full h-auto"
            />
        </a>
        <div class="desc p-4 text-center">
            Add a description of the image here
        </div>
    </div>
</div>
