---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
---


<Container className="pt-36 flex flex-col space-y-10 justify-center  mb-24">
    <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title>Regulamentos</Title> 
        <Paragraph className="mt-8">
            Assessoria documental feita por Cláudia Sclhlink Despachante.
        </Paragraph>
    </div>
    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/13T1XBEL3Ysd96Z_o5aG9wPGjMGAZA5Ob/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Tiro ao prato metálico</span>
            </Button>
        </a>
    </div>
        
    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/1Qn4PbvYI63YOgDtQN5LqWyngnST5-Urr/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Tiro dinamico</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/13T1XBEL3Ysd96Z_o5aG9wPGjMGAZA5Ob/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Regulamento 3</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/13T1XBEL3Ysd96Z_o5aG9wPGjMGAZA5Ob/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Regulamento </span>
            </Button>
        </a>
    </div>

</Container>