---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
---


<Container className="pt-36 flex flex-col space-y-10 justify-center  mb-24">
    <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title>Regulamentos</Title> 
        <Paragraph className="mt-8">
            Entidades de tiro poderão propor provas as quais serão inclusas nessa área de regulamento.
        </Paragraph>
    </div>
    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/13T1XBEL3Ysd96Z_o5aG9wPGjMGAZA5Ob/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Tiro ao prato metálico</span>
            </Button>
        </a>
    </div>
        
    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/1Qn4PbvYI63YOgDtQN5LqWyngnST5-Urr/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Tiro Dinâmico</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/1bNw62i9CIzVvRctW4TKtRDZufed77oQv/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Copa de Tiro Cel. Vella</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/1OiQHjUiom_ktwJYFDtbuDC1aO-OzPDgD/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Multicalibre</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="#" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">IPCS</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="#" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Durval Guimarães - Wolf Shooting Club</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/1Fu7Ixt6fACY008E5I2XdqIQRiIj4mnuW/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Prova de Precisão de Calibre 12GA</span>
            </Button>
        </a>
    </div>

    <div class="flex justify-center">
        <a href="https://drive.google.com/file/d/18d3JP1dYa3xlqvIDZz8YmtzrUqX4wo92/view?usp=sharing" class="inline-block align-middle">
            <Button variant={"primary"} className=" w-80">
                <span class="text-white relative z-[5]">Desafio de Metais FZ</span>
            </Button>
        </a>
    </div>

    

</Container>