---
import Title from "../shared/Title.astro";
---

<style>
    @media only screen and (max-width: 600px) {
        .pdf-container {
            height: 700px; /* ajuste a altura conforme necessário */
        }
    }

    @media only screen and (max-width: 500px) {
        .pdf-container {
            height: 600px; /* ajuste a altura conforme necessário */
        }
    }
</style>

<section class="pdf-container" style="padding-top: 130px; display:flex; flex-direction:column; justify-content: center; align-items:center">
    <Title>
        Regulamento:
    </Title>
    <iframe src="https://drive.google.com/file/d/13T1XBEL3Ysd96Z_o5aG9wPGjMGAZA5Ob/preview" width="880" height="720" allow="autoplay" style="margin-top: 30px; margin-bottom: 30px;"></iframe>

</section>