---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";

type ServicesProps = {
    title: string;
    description: string;
    icon: string;
    href: string;
};

---

<section id="services">
    <Container className="space-y-10 md:space-y-12">
        <div class="text-center max-w-4xl mx-auto space-y-4">
            <Title>
                Segmentos
            </Title>
            <Paragraph className="mt-8">
                "Ninguém realiza algo grandioso sem antes ter sido quebrado pela vida. A dor expande a alma." <br>
                Shmuel Lemle.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-2   gap-6 lg:gap-8">
            {
                    services.map((service: ServicesProps) => {
                    return (
                    <a href={service.href} target="_blank" rel="noopener noreferrer">
                            <Service title={service.title} description={service.description} icon={service.icon}>
                            </Service>
                    </a>
                            );
                    })
                
            }
        </div>
    </Container>
</section>