---
import Layout from '../layouts/Layout.astro';
import Calendar from '../components/sections/Calendar.astro';
---

<Layout title=" - Calendário">
	<main class="flex flex-col gap-y-10 md:gap-y-10 overflow-hidden">
		<Calendar/>
	</main>
</Layout>