---
import Layout from '../layouts/Layout.astro';
import Regula from '../components/sections/Regula.astro';
---

<Layout title="">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Regula/>
	</main>
</Layout>